@model IBlog.Models.Kategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:20px;font-size:1.5rem;">
<h3>Silmek istediğinize emin misiniz?</h3>
    
<div>
    <dl class="dl-horizontal">
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            @Html.ActionLink("Listeye Geri Dön", "Index", null, new { @class="btn btn-info"})
        </div>
    }
</div>

</div>